* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  padding: 0.4rem 0.4rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  z-index: 10;
}

.branding {
  font-weight: bold;
  color: #363F5A;
  font-size: 1.5rem;
}

.branding span {
  background: #363F5A;
  border-radius: 10px;
  color: white;
}

.nav ul {
  display: flex;
  font-size: 0.9rem;
}

.nav ul li {
  padding-right: 1rem;
}
  .nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
  }

  .nav ul li a:hover {
    color: #537EF9;
  }

  .hamburger-icon {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    z-index: 10px;
  }
.hamburger-icon span {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #111;
}

.hamburger-icon span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  height: 3px;
  background: #111;
}

.hamburger-icon span:after {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 100%;
  height: 3px;
  background: #111;
}
@media screen and (max-width: 900px) {
  header .nav {
    position: absolute;
    top: 0;
    left: -900px;
    background: #fff;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in;
  }

  .nav ul {
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
  }

  .nav ul li {
    padding: 1.5rem;
    cursor: pointer;
  }

  .nav ul li:hover {
    background: #eef5fe;
  }

  .hamburger-icon {
    opacity: 1;
    z-index: 2;
  }
  }



#showcase {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJz48ZGVm%0D%0Acz48bGluZWFyR3JhZGllbnQgaWQ9J2EnIGdyYWRpZW50VW5pdHM9J3VzZXJTcGFjZU9uVXNlJyB4%0D%0AMT0nMCcgeDI9JzAnIHkxPScwJyB5Mj0nMTAwJScgZ3JhZGllbnRUcmFuc2Zvcm09J3JvdGF0ZSgy%0D%0ANDApJz48c3RvcCBvZmZzZXQ9JzAnIHN0b3AtY29sb3I9JyNmZmZmZmYnLz48c3RvcCBvZmZzZXQ9%0D%0AJzEnIHN0b3AtY29sb3I9JyM0RkUnLz48L2xpbmVhckdyYWRpZW50PjxwYXR0ZXJuIHBhdHRlcm5V%0D%0Abml0cz0ndXNlclNwYWNlT25Vc2UnIGlkPSdiJyB3aWR0aD0nNTQwJyBoZWlnaHQ9JzQ1MCcgeD0n%0D%0AMCcgeT0nMCcgdmlld0JveD0nMCAwIDEwODAgOTAwJz48ZyBmaWxsLW9wYWNpdHk9JzAuMSc+PHBv%0D%0AbHlnb24gZmlsbD0nIzQ0NCcgcG9pbnRzPSc5MCAxNTAgMCAzMDAgMTgwIDMwMCcvPjxwb2x5Z29u%0D%0AIHBvaW50cz0nOTAgMTUwIDE4MCAwIDAgMCcvPjxwb2x5Z29uIGZpbGw9JyNBQUEnIHBvaW50cz0n%0D%0AMjcwIDE1MCAzNjAgMCAxODAgMCcvPjxwb2x5Z29uIGZpbGw9JyNEREQnIHBvaW50cz0nNDUwIDE1%0D%0AMCAzNjAgMzAwIDU0MCAzMDAnLz48cG9seWdvbiBmaWxsPScjOTk5JyBwb2ludHM9JzQ1MCAxNTAg%0D%0ANTQwIDAgMzYwIDAnLz48cG9seWdvbiBwb2ludHM9JzYzMCAxNTAgNTQwIDMwMCA3MjAgMzAwJy8+%0D%0APHBvbHlnb24gZmlsbD0nI0RERCcgcG9pbnRzPSc2MzAgMTUwIDcyMCAwIDU0MCAwJy8+PHBvbHln%0D%0Ab24gZmlsbD0nIzQ0NCcgcG9pbnRzPSc4MTAgMTUwIDcyMCAzMDAgOTAwIDMwMCcvPjxwb2x5Z29u%0D%0AIGZpbGw9JyNGRkYnIHBvaW50cz0nODEwIDE1MCA5MDAgMCA3MjAgMCcvPjxwb2x5Z29uIGZpbGw9%0D%0AJyNEREQnIHBvaW50cz0nOTkwIDE1MCA5MDAgMzAwIDEwODAgMzAwJy8+PHBvbHlnb24gZmlsbD0n%0D%0AIzQ0NCcgcG9pbnRzPSc5OTAgMTUwIDEwODAgMCA5MDAgMCcvPjxwb2x5Z29uIGZpbGw9JyNEREQn%0D%0AIHBvaW50cz0nOTAgNDUwIDAgNjAwIDE4MCA2MDAnLz48cG9seWdvbiBwb2ludHM9JzkwIDQ1MCAx%0D%0AODAgMzAwIDAgMzAwJy8+PHBvbHlnb24gZmlsbD0nIzY2NicgcG9pbnRzPScyNzAgNDUwIDE4MCA2%0D%0AMDAgMzYwIDYwMCcvPjxwb2x5Z29uIGZpbGw9JyNBQUEnIHBvaW50cz0nMjcwIDQ1MCAzNjAgMzAw%0D%0AIDE4MCAzMDAnLz48cG9seWdvbiBmaWxsPScjREREJyBwb2ludHM9JzQ1MCA0NTAgMzYwIDYwMCA1%0D%0ANDAgNjAwJy8+PHBvbHlnb24gZmlsbD0nIzk5OScgcG9pbnRzPSc0NTAgNDUwIDU0MCAzMDAgMzYw%0D%0AIDMwMCcvPjxwb2x5Z29uIGZpbGw9JyM5OTknIHBvaW50cz0nNjMwIDQ1MCA1NDAgNjAwIDcyMCA2%0D%0AMDAnLz48cG9seWdvbiBmaWxsPScjRkZGJyBwb2ludHM9JzYzMCA0NTAgNzIwIDMwMCA1NDAgMzAw%0D%0AJy8+PHBvbHlnb24gcG9pbnRzPSc4MTAgNDUwIDcyMCA2MDAgOTAwIDYwMCcvPjxwb2x5Z29uIGZp%0D%0AbGw9JyNEREQnIHBvaW50cz0nODEwIDQ1MCA5MDAgMzAwIDcyMCAzMDAnLz48cG9seWdvbiBmaWxs%0D%0APScjQUFBJyBwb2ludHM9Jzk5MCA0NTAgOTAwIDYwMCAxMDgwIDYwMCcvPjxwb2x5Z29uIGZpbGw9%0D%0AJyM0NDQnIHBvaW50cz0nOTkwIDQ1MCAxMDgwIDMwMCA5MDAgMzAwJy8+PHBvbHlnb24gZmlsbD0n%0D%0AIzIyMicgcG9pbnRzPSc5MCA3NTAgMCA5MDAgMTgwIDkwMCcvPjxwb2x5Z29uIHBvaW50cz0nMjcw%0D%0AIDc1MCAxODAgOTAwIDM2MCA5MDAnLz48cG9seWdvbiBmaWxsPScjREREJyBwb2ludHM9JzI3MCA3%0D%0ANTAgMzYwIDYwMCAxODAgNjAwJy8+PHBvbHlnb24gcG9pbnRzPSc0NTAgNzUwIDU0MCA2MDAgMzYw%0D%0AIDYwMCcvPjxwb2x5Z29uIHBvaW50cz0nNjMwIDc1MCA1NDAgOTAwIDcyMCA5MDAnLz48cG9seWdv%0D%0AbiBmaWxsPScjNDQ0JyBwb2ludHM9JzYzMCA3NTAgNzIwIDYwMCA1NDAgNjAwJy8+PHBvbHlnb24g%0D%0AZmlsbD0nI0FBQScgcG9pbnRzPSc4MTAgNzUwIDcyMCA5MDAgOTAwIDkwMCcvPjxwb2x5Z29uIGZp%0D%0AbGw9JyM2NjYnIHBvaW50cz0nODEwIDc1MCA5MDAgNjAwIDcyMCA2MDAnLz48cG9seWdvbiBmaWxs%0D%0APScjOTk5JyBwb2ludHM9Jzk5MCA3NTAgOTAwIDkwMCAxMDgwIDkwMCcvPjxwb2x5Z29uIGZpbGw9%0D%0AJyM5OTknIHBvaW50cz0nMTgwIDAgOTAgMTUwIDI3MCAxNTAnLz48cG9seWdvbiBmaWxsPScjNDQ0%0D%0AJyBwb2ludHM9JzM2MCAwIDI3MCAxNTAgNDUwIDE1MCcvPjxwb2x5Z29uIGZpbGw9JyNGRkYnIHBv%0D%0AaW50cz0nNTQwIDAgNDUwIDE1MCA2MzAgMTUwJy8+PHBvbHlnb24gcG9pbnRzPSc5MDAgMCA4MTAg%0D%0AMTUwIDk5MCAxNTAnLz48cG9seWdvbiBmaWxsPScjMjIyJyBwb2ludHM9JzAgMzAwIC05MCA0NTAg%0D%0AOTAgNDUwJy8+PHBvbHlnb24gZmlsbD0nI0ZGRicgcG9pbnRzPScwIDMwMCA5MCAxNTAgLTkwIDE1%0D%0AMCcvPjxwb2x5Z29uIGZpbGw9JyNGRkYnIHBvaW50cz0nMTgwIDMwMCA5MCA0NTAgMjcwIDQ1MCcv%0D%0APjxwb2x5Z29uIGZpbGw9JyM2NjYnIHBvaW50cz0nMTgwIDMwMCAyNzAgMTUwIDkwIDE1MCcvPjxw%0D%0Ab2x5Z29uIGZpbGw9JyMyMjInIHBvaW50cz0nMzYwIDMwMCAyNzAgNDUwIDQ1MCA0NTAnLz48cG9s%0D%0AeWdvbiBmaWxsPScjRkZGJyBwb2ludHM9JzM2MCAzMDAgNDUwIDE1MCAyNzAgMTUwJy8+PHBvbHln%0D%0Ab24gZmlsbD0nIzQ0NCcgcG9pbnRzPSc1NDAgMzAwIDQ1MCA0NTAgNjMwIDQ1MCcvPjxwb2x5Z29u%0D%0AIGZpbGw9JyMyMjInIHBvaW50cz0nNTQwIDMwMCA2MzAgMTUwIDQ1MCAxNTAnLz48cG9seWdvbiBm%0D%0AaWxsPScjQUFBJyBwb2ludHM9JzcyMCAzMDAgNjMwIDQ1MCA4MTAgNDUwJy8+PHBvbHlnb24gZmls%0D%0AbD0nIzY2NicgcG9pbnRzPSc3MjAgMzAwIDgxMCAxNTAgNjMwIDE1MCcvPjxwb2x5Z29uIGZpbGw9%0D%0AJyNGRkYnIHBvaW50cz0nOTAwIDMwMCA4MTAgNDUwIDk5MCA0NTAnLz48cG9seWdvbiBmaWxsPScj%0D%0AOTk5JyBwb2ludHM9JzkwMCAzMDAgOTkwIDE1MCA4MTAgMTUwJy8+PHBvbHlnb24gcG9pbnRzPScw%0D%0AIDYwMCAtOTAgNzUwIDkwIDc1MCcvPjxwb2x5Z29uIGZpbGw9JyM2NjYnIHBvaW50cz0nMCA2MDAg%0D%0AOTAgNDUwIC05MCA0NTAnLz48cG9seWdvbiBmaWxsPScjQUFBJyBwb2ludHM9JzE4MCA2MDAgOTAg%0D%0ANzUwIDI3MCA3NTAnLz48cG9seWdvbiBmaWxsPScjNDQ0JyBwb2ludHM9JzE4MCA2MDAgMjcwIDQ1%0D%0AMCA5MCA0NTAnLz48cG9seWdvbiBmaWxsPScjNDQ0JyBwb2ludHM9JzM2MCA2MDAgMjcwIDc1MCA0%0D%0ANTAgNzUwJy8+PHBvbHlnb24gZmlsbD0nIzk5OScgcG9pbnRzPSczNjAgNjAwIDQ1MCA0NTAgMjcw%0D%0AIDQ1MCcvPjxwb2x5Z29uIGZpbGw9JyM2NjYnIHBvaW50cz0nNTQwIDYwMCA2MzAgNDUwIDQ1MCA0%0D%0ANTAnLz48cG9seWdvbiBmaWxsPScjMjIyJyBwb2ludHM9JzcyMCA2MDAgNjMwIDc1MCA4MTAgNzUw%0D%0AJy8+PHBvbHlnb24gZmlsbD0nI0ZGRicgcG9pbnRzPSc5MDAgNjAwIDgxMCA3NTAgOTkwIDc1MCcv%0D%0APjxwb2x5Z29uIGZpbGw9JyMyMjInIHBvaW50cz0nOTAwIDYwMCA5OTAgNDUwIDgxMCA0NTAnLz48%0D%0AcG9seWdvbiBmaWxsPScjREREJyBwb2ludHM9JzAgOTAwIDkwIDc1MCAtOTAgNzUwJy8+PHBvbHln%0D%0Ab24gZmlsbD0nIzQ0NCcgcG9pbnRzPScxODAgOTAwIDI3MCA3NTAgOTAgNzUwJy8+PHBvbHlnb24g%0D%0AZmlsbD0nI0ZGRicgcG9pbnRzPSczNjAgOTAwIDQ1MCA3NTAgMjcwIDc1MCcvPjxwb2x5Z29uIGZp%0D%0AbGw9JyNBQUEnIHBvaW50cz0nNTQwIDkwMCA2MzAgNzUwIDQ1MCA3NTAnLz48cG9seWdvbiBmaWxs%0D%0APScjRkZGJyBwb2ludHM9JzcyMCA5MDAgODEwIDc1MCA2MzAgNzUwJy8+PHBvbHlnb24gZmlsbD0n%0D%0AIzIyMicgcG9pbnRzPSc5MDAgOTAwIDk5MCA3NTAgODEwIDc1MCcvPjxwb2x5Z29uIGZpbGw9JyMy%0D%0AMjInIHBvaW50cz0nMTA4MCAzMDAgOTkwIDQ1MCAxMTcwIDQ1MCcvPjxwb2x5Z29uIGZpbGw9JyNG%0D%0ARkYnIHBvaW50cz0nMTA4MCAzMDAgMTE3MCAxNTAgOTkwIDE1MCcvPjxwb2x5Z29uIHBvaW50cz0n%0D%0AMTA4MCA2MDAgOTkwIDc1MCAxMTcwIDc1MCcvPjxwb2x5Z29uIGZpbGw9JyM2NjYnIHBvaW50cz0n%0D%0AMTA4MCA2MDAgMTE3MCA0NTAgOTkwIDQ1MCcvPjxwb2x5Z29uIGZpbGw9JyNEREQnIHBvaW50cz0n%0D%0AMTA4MCA5MDAgMTE3MCA3NTAgOTkwIDc1MCcvPjwvZz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHg9%0D%0AJzAnIHk9JzAnIGZpbGw9J3VybCgjYSknIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnLz48cmVj%0D%0AdCB4PScwJyB5PScwJyBmaWxsPSd1cmwoI2IpJyB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJy8+%0D%0APC9zdmc+");
}

.showcase-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showcase-content-left {
  flex: 1;
}

.showcase-content-title {
  width: 400px;
  margin: 2rem 0;
}

.showcase-content-title h3{
  font-size: 2.3rem;
  line-height: 1.3;
  color: #363F5A;
}


}

.showcase-content-body p {
  opacity: 0.6;
}

.btn {
  padding: 0.8rem 1.5rem;
  background: linear-gradient(to bottom, #f7ad4c, #f17d7d);
  display: inline-block;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
.showcase-content-right {
  flex: 1;
}

.showcase-content-right img {
  width: 400px;
}

@media screen and (max-width: 900px) {
  .showcase-content {
    flex-direction: column;
    text-align: center;
  }


    .showcase-content-title h3 {
      font-size: 2rem;
    }

    .showcase-content-left {
      margin: 5rem 0;
    }

    .showcase-content-title {
      width: 100%;
    }
  }

  #our-tools {
    height: 100%;
    width: 100%;
    padding: 2rem 0;
  }
.our-tools-wrapper {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.our-tools-title {
  margin: 0 auto;
  line-height: 1.2;
  position: relative;
}

.our-tools-title:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 60px;
  background: #6bdd70;
  bottom: -20px;
  margin-left: -30px;
}
.our-tools-title h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #397af9;
}

.our-tools-body {
  margin-top: 5rem;
  opacity: 0.5;
}

.our-tools-content {
  margin: 4rem 0;
  display: grid;
  grid-gap: 3.5rem;
  grid-template-columns: repeat(3, 150px);
  align-items: center;
  justify-content: space-between;
}

our-tools-content img {
  height: 6rem;
}

our-tools-content p {
  opacity: 0.5;
  margin-top: 1rem;
}

@media screen and (max-width: 700px) {
  .our-tools-content {
    grid-template-columns: 150px;
    justify-content: center;
  }

  .our-tools-title h3 {
    font-size: 2rem;
  }
  }


.featured-video {
  background: #4582f9;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%)
}

.featured-text .featured-title {
  max-width: 400px;
}

.featured-text .featured-title h3{
  font-size: 2.5rem;
  margin-bottom: 4rem;
  line-height: 1.3;
  position: relative;
}

.featured-text .featured-title h3:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 8px;
  background: #50cdf9;
  bottom: -2rem;
  left: 0;
}

.featured-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 600px;
  width: 100%;
  padding: 2rem 0;
  color: #fff;
}

.featured-wrapper .featured-image {
  flex: 1;
}
.featured-wrapper .featured-text{
  flex: 1;
}

.featured-wrapper .featured-image img{
  width: 80%;
}

.featured-wrapper .featured-body {
  margin-bottom: 1.5rem;
}

.featured-video-btn {
  background: #6adb75;
}

.featured-website {
  clip-path: polygon(0 0, 100% 10%, 200% 100%, 0 100%);
  background: #9189f8;
}

.featured-website .featured-wrapper h3:after {
  background: #f17c6c;
}

.featured-website-btn {
  background: #57dbf9;
}

.featured-logo .featured-text {
  color: #333;
}

.featured-wrapper .left {
  order: 1;
}

.featured-wrapper .right {
  order: 2;
  text-align: right;
}

.featured-logo .featured-wrapper h3:after {
  background: #6bdd70;
}

@media screen and (max-width: 900px) {
  .featured-wrapper {
    flex-direction: column;
    padding: 5rem 0;
  }

  .featured-wrapper img {
    max-width: 500px;
  }

  .featured-wrapper .left {
    order: 2;
  }

  .featured-wrapper .right {
    order: 1;
  }
  }

  #testimonial {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  background: #f5fafel;
  margin-bottom: 4rem;
  }

  .testimonial-title {
  text-align: center;
  color: #397af9;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  }

.testimonial-title:after {
  content: "";
  position: absolute;
  height: 8px;
  width: 60px;
  background: #f17c6a;
  left: 50%;
  margin-left: -30px;
}

.testimonial-wrapper {
  background: white;
  max-width: 700px;
  margin: 5rem auto;
  padding: 6rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #333;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.testimonial-image {
  flex: 1;
}


.testimonial-image img {
  width: 80%;
}

.testimonial-image h3 {
  color: #397af9;
}

.testimonial-image p {
  font-size: 0.9rem;
  font-weight: bold;
}

.testimonial-text {
  flex: 3;
  margin-left: 1.5rem; 
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 700px) {
  .testimonial-wrapper {
    flex-direction: column;
    padding: 4rem 2rem;
  }

  .testimonial-image img {
    width: 100px;
  }

  .testimonial-image {
    text-align: center;
  }

  .testimonial-text {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

#newsletter {
  background: #397af9;
  padding: 2rem 0;
  color: #fff;
  text-align: center;
}

.newsletter-title {
  font-size: 1.2rem;
  position: relative;
}
.newsletter-title p:nth-child(2) {
  font-size: 1rem;
}

.newsletter-title p:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 8px;
  background: #50cdf9;
  bottom: -1.7rem;
  left: 50%;
  mrgin-left: -30px;
}

.newsletter-input {
  margin: 4rem auto;
  max-width: 700px;
  display: flex;
  margin: space-between;
  align-items: center;
  position: relative;
}

.newsletter-input input{
  border: none;
  outline: none;
  height: 2.5rem;
  border-radius: 1.25rem;
  text-indent: 15px;
  font-size: 1rem;
  color: #333;
}

.newsletter-input input:nth-child(1){
 flex-basis: 220px; 
}

.newsletter-input input:nth-child(2){
 flex-basis: 450px; 
}

.newsletter-input input:nth-child(3){ 
 position: absolute;
 margin: 0;
 padding: 0;
 right: 0;
 color: #fff;
 text-align: center;
 text-indent: 0;
}

@media screen and (max-width: 700px) {
  .newsletter-input {
    flex-direction: column;
  }

  .newsletter-input input {
    height: 40px;
    width: 60%;
    margin-bottom: 1.2rem;
  }

  .newsletter-input input:nth-child(1)
  {
    flex-basis: auto;
  }

    .newsletter-input input:nth-child(2)
  {
    flex-basis: auto;
  }

    .newsletter-input input:nth-child(3)
  {
    position: relative;
    color: #fff;
    text-align: center;
    text-indent: 0;
  }
}

footer {
  background: #397af9;
  padding: 3rem;
}

.footer-wrapper {
  display:flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.footer-wrapper .years p {
  font-size: 1rem;
}

.footer-wrapper .icons i {
  font-size: 1.4rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .footer-wrapper {
    flex-direction: column;
  }

  .footer-wrapper .icons i:last-child {
    margin-right: 0;
  }
}

 .faq-section {
   background-color: #f9f9f9;
   padding: 40px 0;
   text-align: center;
 }

 .faq-container {
   max-width: 800px;
   margin: 0 auto;
   background: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .faq-container h2 {
   margin-top: 0;
   color: #333;
 }

 .faq-item {
   margin-bottom: 10px;
   border-bottom: 1px solid #ddd;
   overflow: hidden;
 }

 .faq-item:last-child {
   border-bottom: none;
 }

 .faq-question {
   font-size: 18px;
   color: #007BFF;
   cursor: pointer;
   position: relative;
   padding: 10px;
   background: #f1f1f1;
   border-radius: 5px;
   transition: background-color 0.3s;
 }

 .faq-question:hover {
   background-color: #e0e0e0;
 }

 .faq-answer {
   font-size: 16px;
   color: #666;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.3s ease-out;
 }

 .faq-answer p {
   margin: 10px 0;
 }

 .toggle-icon {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 18px;
 }

 .faq-question.active .toggle-icon {
   content: "-";
 }

 .faq-question.active + .faq-answer {
   max-height: 200px; /* Adjust if needed */
 }


/* Chatbot Widget */
.chatbot-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chatbot-icon {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 24px;
}

.chatbot-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
}

.chatbot-header {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.chatbot-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chatbot-body p {
    margin-bottom: 15px;
}

.chatbot-body input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

.chatbot-body button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.chatbot-body button:hover {
    background-color: #45a049;
}

